<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NoticeMapper">
	<resultMap type="Notice" id="noticeResultMap">
		<id property="noticeNo" column="NOTICE_NO"></id>
		<result property="noticeTitle" column="NOTICE_TITLE"/>
		<result property="noticeContent" column="NOTICE_CONTENT"/>
		<result property="viewCount" column="VIEW_COUNT"/>
		<result property="nCreateDate" column="N_CREATE_DATE"/>
		<result property="noticeFilename" column="NOTICE_FILENAME"/>
		<result property="noticeFilepath" column="NOTICE_FILEPATH"/>
	</resultMap>
	
	<!-- 쿼리문 작성 부분 -->
</mapper>