<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 만약에 null로 데이터가 전달되었으면 빈칸이 아닌 "NULL"로 인식하도록 설정 -->
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.shareOffice.comment.domain.Comment" alias="Comment" />
		<typeAlias type="com.kh.shareOffice.notice.domain.Notice" alias="Notice" />
		<typeAlias type="com.kh.shareOffice.payment.domain.Payment" alias="Payment" />
		<typeAlias type="com.kh.shareOffice.product.domain.Product" alias="Product" />
		<typeAlias type="com.kh.shareOffice.question.domain.Question" alias="Question" />
		<typeAlias type="com.kh.shareOffice.review.domain.Review" alias="Review" />
		<typeAlias type="com.kh.shareOffice.user.domain.User" alias="User" />
	</typeAliases>
	<mappers>
		<mapper resource="mappers/comment-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml" />
		<mapper resource="mappers/payment-mapper.xml" />
		<mapper resource="mappers/product-mapper.xml" />
		<mapper resource="mappers/question-mapper.xml" />
		<mapper resource="mappers/review-mapper.xml" />
		<mapper resource="mappers/user-mapper.xml" />
	</mappers>
</configuration>